.faq-categoryfaqs, .faq-categories, .faq-category, .faq-searchresults {}

#serendipity_faq_plugin ul {
    margin: 0 1.5em;
}
.faq-nav {
    border-bottom: 1px solid #222;
    margin: auto auto 1em auto;
}

.faq-nav a {
    text-decoration: none;
}

.faq-nav p {
    margin: 0;
    padding: .2em;
}
.faq-results {
    text-align: left;
}