/* Set a content max-width for 1.7 backend Series */
.serendipityAdminContent * { max-width: 1002px; }
/* Set box sizing for 1.7 backend Series */
.serendipityAdminContent .boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#faqBackendPage ul li {
    list-style: none;
    margin: 0;
    display: inline;
    margin-left: 1.5em;
    padding-left: 0px;
}
#faqBackendPage ul li img {
    vertical-align: middle;
}
#serendipityFAQNav ul li a {
    padding: 3px 0.5em;
    margin-left: 5px;
    border: 1px solid #222;
}

#serendipityFAQNav ul li a#active {
    border-bottom: 1px solid #FFF;
}
#backend_faq_formpage label {
    clear: both;
    font-size: 1.125em;
    font-weight: 600;
    margin: 1em 0;
    display: inline-table;
}
#backend_faq_formpage .title_descriptor {
    display: table;
    margin: 0;
}
#faqBackendPage .clear,
#backend_faq_formpage .clear {
    clear: right;
}
#faqBackendPage .action_field,
#backend_faq_formpage .action_field,
#backend_faq_formpage .plain_editor {
    float: right;
}
#backend_faq_formpage .hook_buttons {
    display: inline;
}
#backend_faq_formpage textarea {
    width: 100%;
}

.faq_lang {
    border: 1px solid #999;
    background: #efefef;
    padding: .1em .2em;
}
.faq_navigator {
    background: #EEE;
    border: 1px solid #CCC;
    margin: 1em 0;
    padding: .5em;
}
