
/* FAQ plugin start */

#faqBackendPage ul.plainList {
    margin-top: .5em;
    margin-bottom: .5em;
}
#faqBackendPage ul li {
    list-style: none outside none;
    display: inline-block;
    width: auto;
    margin: 0 0 0 1em;
    padding-left: 0;
    line-height: 1.5;
    vertical-align: bottom;
}
#faqBackendPage li.fixed {
    display: inline-block;
    width: 28%;
}
#faqBackendPage li.fixed * {
    display: inline;
}
#faqBackendPage li.fixed img {
    margin-right: .5rem;
}
#faqBackendPage li.col {
    width: 60%;
}
#faqBackendPage li.empty {
    width: 1.45rem; /* 24px */
}
#faqBackendPage ul li img {
    width: 24px;
    height: 24px;
}
#serendipityFAQNav ul li a {
    padding: 3px 0.5em;
    margin-left: 5px;
    border: 1px solid #222;
}
#serendipityFAQNav ul li a#active {
    border-bottom: 1px solid #FFF;
}
#backend_faq_formpage label {
    clear: both;
    font-size: 1.125em;
    font-weight: 600;
    margin: 1em 0;
    display: inline-table;
}
#backend_faq_formpage .title_descriptor {
    display: table;
    margin: 0;
}
#faqBackendPage .clear,
#backend_faq_formpage .clear {
    margin: .5rem auto auto; /* form_field */
    line-height: 0; /* body */
}
#backend_faq_formpage .submit_set {
    margin: 1.5em auto;
}
#faqBackendPage .action_field,
#backend_faq_formpage .action_field,
#backend_faq_formpage .plain_editor {
    float: right;
}
#backend_faq_formpage .hook_buttons {
    display: inline;
}
#backend_faq_formpage .plain_editor {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.hook_buttons .serendipity_toggle_emoticon_bar.serendipityPrettyButton {
    margin-top: 0;
}
#backend_faq_formpage .form_field textarea,
#backend_faq_formpage .form_field div:not(.action_field) {
    display: block;
}
.faq_config_desc {
    color: #5E7A94;
    font-size: 8pt;
}
.faq_lang {
    border: 1px solid #999;
    background: #efefef;
    padding: .1em .2em;
}
.faq_lang_navigation {
    border: 1px solid #DDD;
    padding: .5em;
    display: table;
}
.faq_navigator {
    background: #EEE;
    border: 1px solid #CCC;
    margin: 1em 0;
    padding: .5em;
}
#backend_faq_formpage .editor_toolbar {
    margin-right: .5em;
}

/* Styx 3.5 DARK MODE */
[data-color-mode="dark"] .faq_navigator {
    background-color: var(--color-bg-overlay);
    border-color: var(--color-border-tertiary);
}
[data-color-mode="dark"] #faqBackendPage img[alt="question.svg"] {
    display: inline-block;
    content: "";/* fill %23 = # */
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' role='img' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'/></svg>");
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
[data-color-mode="dark"] #faqBackendPage .icon-trash::before {
    color: var(--color-icon-danger);
}
[data-color-mode="dark"] #faqBackendPage .icon-edit::before {
    color: var(--color-icon-primary);
}
[data-color-mode="dark"] .faq_lang_navigation {
    border-color:  var(--color-border-primary);
}
[data-color-mode="dark"] .faq_lang {
    border-color: var(--color-alert-info-border);
    background: var(--color-bg-overlay);
}

/* LARGER SCREENS */
@media only screen and (min-width: 1200px) {
    #faqBackendPage.faq_start_page .action_field {
        margin-right: 20%;
    }
}

/* FAQ plugin end */
