
.sp_listnav {
    float: right;
    list-style: none;
    display: inline-block;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 0 0;
}
.sp_tabnav {}
.splist {
    border: 1px solid #BBB;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to top, #ffffff 0%,#efefef 100%); /* W3C */
    display: inline-block;
}
#active.splist {
    background: #666 none repeat scroll 0% 0%;
    border-color: #444;
    box-shadow: 0px 1px 0px #FFF, 0px 0px 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.spmsg .icon,
.spnav .icon {
    display: inline-block;
    /*
    This works below also with 32px etc, since "width" & "height" were set using em units. Usually.
    To have best results overall, do not enable width here!
    width: 1em;
    */
    height: 1em;
    fill: currentColor;
    vertical-align: text-bottom;
}
.sp_info .icon-info {
    height: 1em;
    width: 1em;
    fill: currentColor;
    margin-top: 0.25em;
    margin-left: .75em;
}
#splistorder .icon-ok, .spmsg .icon-ok, .spmsg .icon-info, .spmsg .icon-error, .spmsg .icon-attention { font-size: 20px; width: 32px; }
.spmod .icon-clock { width: 1em; color: #444; height: 1.25rem; vertical-align: -.275em; }
.spmsg .icon-attention, .spmsg .icon-error { color: red; }
.spmsg .icon-ok { color: green; }
.icon-info { color: #C09853; }
.icon-pagelist, .icon-pageorder, .icon-pagetype, .icon-otherplugins { width: 2em; }
.icon-pagelist { color: #3E5F81; }
#active.splist .icon-pagelist { color: #fff; }
.icon-pageorder { color: #3E5F81;/*#6fbc6d;*/ }
.icon-pagetype { color: #f46899; }
.icon-otherplugins { color: #5fa9dd; }
.sp_entries_pane .spform a { vertical-align: bottom; line-height: 1.20em; }

#sp_navigator {
    margin-top: 1.5em;
}

.sp_tabnav.tabs-list {
    display: -webkit-flex;
    display: flex;
}
.sptabs > ul > li  > a {
    padding: .25rem .5rem .25rem 0;
}
.sptabs > ul a {
    background-color: #eee;
    border: #ddd;
    background-image: -webkit-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
}
.sptabs > ul .on a,
.sptabs .tabs-list li.on a {
    color: #888;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
}

.sp_thead {
    background-color: #c0c0c0;
}
.sp_teven {
    background-color: #dfdfdf;
}
.sp_todd {
    background-color: #f0f0f0;
}
.sp_tgreen {
    color: green;
}
.sp_tred {
    color: #ff4136;
}
.sp_tyellow {
    background-color: #ffdc00;
}
.sp_label {
    page-break-after: always;
    display: block;
    clear: both;
}
.sp_button {
    display: inline-block;
}
.sp_button ~ button,
.sp_button ~ .toggle_info,
.sp_button ~ .toggle_info:visited,
.sp_button ~ .toggle_info:hover,
.sp_button ~ .toggle_info:focus,
.sp_button ~ .toggle_info:active {
    margin: 1% 0 1% 0.4em;
}
.sp_templateselector {
    float: right;
    margin: 5px;
}
.sp_pageselector {
    background: #3e5f81;
    background-image: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e5f81), color-stop(100%, #294564));
    background-image: -webkit-linear-gradient(#3e5f81, #294564);
    background-image: -moz-linear-gradient(#3e5f81, #294564);
    background-image: linear-gradient(#3e5f81, #294564);
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    padding: 5px;
    border: 1px solid #DDD;
}
.sp_pageselector,
.sp_templateselector label {
    color: #ccdde7;
}
.sp_listfooter {
    background-color: #DFDFDF;
}
.sp_listfooter form {
    padding: 5px;
}
.default_staticpage {
    margin-top: 1.2em;
    clear: both;
}
.default_staticpage .sp_label {
    font-weight: bold;
}
.default_staticpage .sp_sect {
    margin-bottom: 5px;
}
.default_staticpage fieldset {
    margin: 5px;
    border: 1px solid #F0F0F0;
}
.default_staticpage .input_textbox {
    width: 100%;
    margin: 0px auto .125em;
}

/* staticpage smartified backend_staticpage.tpl */
.sp_msg_success:not(:empty) {
    display: block;
    margin: 1.5em 0;
    padding: 10px;
}
.sp_msg_success:not(:empty) {
    background: #dff0d8;
    border: 1px solid #c1e2b3;
    color: #468847;
}
.sp_entries_pane .spmod {
    margin-top: -1.25em;
    width: auto;
}
.sp_entries_pane .spmod,
.sp_entries_pane .spform {
    float: right;
}
.sp_entries_pane .spform a,
.sp_entries_pane .spform form {
    display: inline-table;
    margin-right: auto;
    /*transform: scale(1);
    transform-origin: 0 0;*/
}
.serendipityAdminContent span.five {
    font-weight: 500;
    color: rgb(0, 0, 0) !important;
}
.sp_ptree { font-weight: 500; }
.sp_ctree { color: rgba(117, 131, 156, 1); }
.sp_tree_child,
.sp_status_draft { margin: 0px 0.2em 0px 0px; }
.sp_tree_child {}

.sp_bold { font-weight: 700; }
.sp_top { margin-top: 0; }

#backend_sp_simple .sp_toggle,
#backend_sp_respond .sp_toggle {
    margin: 0 auto;
    padding: .2em 0;
}
/* force overwrite 2.0 backend active toggle ln 799 */
#backend_sp_respond .sp_toggle.active {
    background: #ddd;
    background-image: -webkit-linear-gradient(#fff, #ddd);
    background-image: -moz-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    border-color: #ddd #bbb #999;
    color: #222;
    text-shadow: #fff 0 1px 1px;
}

.sp_defaultform_right {
    width: 29%;
    float: right;
}
.sp_defaultform_left {
    width: 69%;
    float: left;
}
.sp_defaultform_submit {
    text-align: center;
    margin: 1em auto 0;
}
.sp_responsform_submit {
    margin: 2em auto 1em;
    text-align: center;
}
.sp_input_finish {
    clear: both;
    padding-top: 1em;
}
.sp_legend_submit {
    display: block;
    float: right;
    background-color: #EEE;
    padding: 0.25em;
    margin: -2.75em auto auto;
    border: 1px solid #72878A;
}
.sp_add table { border: 1px solid rgb(187, 187, 187); }
#sp_entries_list li { margin: 0.2em; }
#sp_entries_list li:last-of-type { margin-top: 0.5em; }
#sp_entries_list h3 {
    font-size: inherit;
    margin: 0px;
}
.sp_right {
    cursor: pointer;
    float: right;
}

#sp_navigator .sp_info { font-size: 125%; }
.sp_ptype .input_textbox { width: inherit; }

.sp_dim { color: #AAA; font-size: small; }
.sp_lang { padding: 0 0.1em; font-style: italic;}

.sp_pageselector button[type="submit"].sp_entry_preview {
    background: #ddd;
    background-image: -webkit-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    border-color: #ddd #bbb #999;
    color: #222;
    text-shadow: #fff 0 1px 1px;
}

#backend_sp_simple .hook_buttons,
#entry_main_content .hook_buttons,
#entry_struc_precon .hook_buttons {
    display: inline;
    font-size: .875em;
}
#tools_content.editor_toolbar button {
    min-width: auto;
    font-size: .875em;
}

#staticpage_pagetype fieldset,
#staticpage_pageadd .sp_add {
    border: 1px solid #c0c0c0;
    margin: 1em 0 0 0;
    padding: 0.35em 0.625em 0.75em;
}
.sp_sequence,
#backend_sp_simple fieldset {
    border: 1px solid #DDD;
    padding: .75em 0.25em;
    margin: 0 0 1em 0;
}
#backend_sp_simple fieldset.config_optiongroup {
    border: 0px none;
    padding: 0;
    margin: 0;
}
.sp_sequence legend,
#staticpage_pageadd form,
#staticpage_pageadd .sp_add legend {
    border: 1px solid #72878A;
    padding: 2px 5px;
}
.sp_entries_pane,
#staticpage_pagetype .grouped {
    border-width: 1px 1px 0px;
    border-style: solid solid none;
    border-color: #CCC;
}
/* default form */
#backend_sp_simple {
    font-size: .875em;
}
#backend_sp_simple legend {
    border: 1px solid #72878A;
    padding: 2px 5px;
    background-color: #DFDFDF;
}
#backend_sp_simple .sp_input_radio { line-height: 2; }

.sp_input_radio label:first-of-type {
    margin-right: .5rem;
}

#sp_main_data .sp_toggle_navigator > button {
    padding: .25em .5em;
}
#backend_sp_respond #sp_main_data,
#backend_sp_respond #sp_metafield_data,
#backend_sp_respond #sp_structure_data,
#backend_sp_respond #sp_option_data,
#backend_sp_respond #sp_custom_data {
    border: 1px solid #DDD;
    padding: 0.75em;
    margin: 0px 0px 1em;
    background-color: #eee;
}
#staticpage_pageadd .sp_add legend,
#staticpage_pagetype fieldset legend,
#sp_sequencer fieldset legend,
#backend_sp_respond fieldset legend {
    background: #eee;
    font-weight: bold;
}
#backend_sp_respond .form_field select,
#backend_sp_respond .form_radio {
    display: block;
}
#backend_sp_respond select {
    min-width: 48%;
}
#backend_sp_respond #entry_main_data > div,
#backend_sp_respond #sp_structure_data > div,
#backend_sp_respond #sp_option_data > div,
#backend_sp_respond #sp_custom_data > div {
    position: relative;
    float: left;
    margin-right: 2%;
    width: 48%;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 0 .4em;
    min-height: 3.6em; /* avoid breaks having less height blocks */
}
#backend_sp_respond .form_field_long {
    background: transparent;
    border: 1px solid transparent;
}
#backend_sp_respond .form_field_long label,
#backend_sp_respond .form_field_long input {
    margin: 0px .4em .125em;
    width: 98.6%;
}
#backend_sp_respond input.sp_long[type="text"] {
    min-width: 100%;
}

#staticpage_pagetype fieldset legend,
#backend_sp_respond #sp_main_data legend,
#backend_sp_respond #sp_structure_data legend,
#backend_sp_respond #sp_option_data legend,
#backend_sp_respond #sp_custom_data legend {
    border: 1px solid #72878A;
    padding: 2px 5px;
}
#backend_sp_respond #sp_structure_data > div.form_area {
    margin-right: inherit;
    padding: 0px;
    background: transparent;
    border: 0 none;
}
#backend_sp_respond #entry_main_headline,
#backend_sp_respond #entry_main_aftitle,
#backend_sp_respond #entry_main_content,
#backend_sp_respond #sp_metafield_data > div.sp_sect,
#backend_sp_respond #sp_structure_data > div.form_area {
    width: 98%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#backend_sp_respond #entry_meta_urltitle > input,
#backend_sp_respond #entry_struc_date > input,
#backend_sp_respond #entry_struc_password > input,
#backend_sp_respond #entry_custom_class > input {
    max-width: 16em;
}
#backend_sp_respond #sp_custom_data #el5,
#backend_sp_respond #sp_custom_data #entry_custom_info {
    width: 98%;
}
#backend_sp_respond #custom_info {
    width: 100%;
}
#backend_sp_respond #custom_info pre {
    white-space: pre-wrap;
}
#backend_sp_respond #sp_custom_data #el5 {
    margin-bottom: 1em
}

/* for both form templates - id.class is strict! Keep .default_staticpage to restrict this to staticpages only! */
.default_staticpage #meta_urltitle_info.field_info,
.default_staticpage #urltitle_info.field_info,
.default_staticpage #meta_permalink_info.field_info,
.default_staticpage #permalink_info.field_info,
.default_staticpage #entry_relcat_info.field_info,
.default_staticpage #entry_language_info.field_info,
.default_staticpage #related_category_info.field_info,
.default_staticpage #sp_language_info.field_info { width: 100%; }

/* listentries */
.spform a,.spform form {
    margin-right: .275em;
}
#sp_entries_list { margin: 0 0 0 0; padding: .4em 0; }
.sp_entries_pane.odd { background: #eee; }
.sp_entries_pane.even { background: #fff; }
.sp_entries_pane.sp_close {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}
#sp_entries_list button[type="submit"], #sp_entries_list button[type="submit"]:hover,
#sp_entries_list input[type="submit"], #sp_entries_list input[type="submit"]:hover,
#sp_entries_list .button_link:hover,
#sp_entries_list button:hover {
    background: #ddd;
    background: -webkit-linear-gradient(#fff, #ddd);
    background: linear-gradient(#fff, #ddd);
    text-shadow: none !important;
    border-color: #ddd #bbb #999;
}
.sp-btn {
    color: #222 !important;
    text-shadow: #fff 0 1px 1px;
}
#sp_entries_list input[type="submit"] {
    font-family: "fontello"; /* yes, use serendipity default here! ;-) */
}
.sp-btn-edit:before { content:attr(value) '\e803'; }
.sp-btn-purge:before { content: attr(value) '\e80d'); }

/* pagetype */
#staticpage_pagetype .sp_ptype_desc { width: 100% ;}
#staticpage_pagetype .grouped:last-of-type { border-bottom: 1px solid #ccc;}
#staticpage_pagetype .grouped.odd { background: #eee; }
#staticpage_pagetype .grouped.even { background: #fff; }
#staticpage_pagetype .sp_label {
    padding-left: .3em;
    width: 47% !important;
}
#staticpage_pagetype input {
    min-width: 330px;
    margin: auto 0.3em;
}

/* SMALL SCREEN */
@media only screen and (max-width: 372px) {
    #staticpage_pagetype input {
        min-width: 282px;
    }
}
@media only screen and (max-width: 531px) {
    .sp_listnav {
        margin-top: .125rem;
        margin-bottom: auto;
        padding: 0;
    }
    .sp_entries_pane .spmod {
        margin-top: -2.5em;
    }
    #sp_entries_list h3 {
        margin: 0px 0px 1.16667em;
        width: 75%
   }
}
@media only screen and (max-width: 480px) {
    #staticpage_pagetype.configuration_group .form_field input {
        width: inherit;
    }
    #backend_sp_respond .form_field_long label,
    #backend_sp_respond .form_field_long input {
        width: 96.6%;
    }
    #sp_sequencer #sequence.pluginmanager_container {
        width: 29em;
    }
}
@media only screen and (max-width: 768px) {
    .spshow {
        display: none;
        visibility: hidden;
    }
}
/* size Plain Editor Buttons */
@media all and (max-width: 980px) and (min-width: 1023px), (min-width: 1250px) {

    #backend_sp_simple .hook_buttons,
    #entry_main_content .hook_buttons,
    #entry_struc_precon .hook_buttons,
    #tools_content.editor_toolbar button {
        font-size: 1em;
    }
}
@media only screen and (min-width: 1600px) {
    .sp_entries_pane .spform a {
        line-height: 1.16em;
    }
}


/* pageadd */
#staticpage_pageadd .input_button {
    margin-top: .5em;
}

/* pageorder */
#sp_sequencer #sequence {
    float: left; /* overwrite ep sequencer */
    margin-right: initial;
}
#sp_sequencer #sequence.pluginmanager_container {
    width: 19.5em;
}
#sp_sequencer .sp_sequence {
    margin: .5em;
}
#sp_sequencer .sequence_grablet {
    width: 15% !important;
}
#sp_sequencer .sp_sequence .sp_nojs {
    float: right;
    margin-left: 1em;
}
#sp_sequencer #sequence .pluginmanager_item_even { background: #fff; }
#sp_sequencer #sequence .pluginmanager_item_odd { background: #eee; }
#sp_sequencer #sequence .sequence_item_old {
    margin: .1em;
}
#sp_sequencer #sequence .sequence_item_old > span,
#sp_sequencer #sequence .sequence_item_old > div {
    text-align: right;
}
#sp_sequencer #sequence .sequence_item {
    border: 1px dashed #ccc;
}
#sp_sequencer #sequence .sp_grablet_title {
    text-overflow: ellipsis;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: baseline;
}
#sp_sequencer #sequence .sp_orderlang {
    float: right;
    margin: auto .25em;
}

@media only screen and (min-width: 480px) {
    #sp_sequencer #sequence.pluginmanager_container {
        width: 29em;
    }
}
/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
    list-style: none;
}

.simple-pagination {
    display: inline-block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
    width: auto;
}

.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
span.ellipse.clickable {
    cursor: pointer;
}

.ellipse input {
    width: 3em;
}

/* added for 2.0 */
.simple-pagination li.active {
    background-image: inherit;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    border-color: inherit;
}

/*------------------------------------*\
    Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
    float: left;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a:hover {
    text-decoration: none;
    background: #FCFCFC;
}

.light-theme .current {
    background: #666;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

